*{
 
}

body{
  min-height: 1080px;
  background-color: burlywood;
}

h1{
  color: tomato;
  text-align: center;
  font-weight: 600;
  
}

div{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;

}

#root{
  width: 500px;
  height: 230px;

  border: solid 3px;
  border-radius: 15px;
  border-color: darkgoldenrod;

  margin-top: 330px;
  margin-bottom: auto;

  align-items: center;
  text-align: auto;
  padding-left: 20px;
}

button{
  margin: 3px;
  padding-top: auto;
  border-radius: 10%;
}

select{
  scale: 110%;
  margin-bottom: 5px;
}

label{
  padding-right: 10px;
  font-family: sans-serif;
  font-weight: 650;
}

.cute{
  scale: 34%;
  object-fit: cover;
  position: absolute;
  top: 25.3%;
  right: 17%
}